.header {
    display: flex;
    justify-content: space-around;
    position: sticky;

    padding: 0.75rem;
    z-index: 999;
    top: 0;

    background-color: white;
    border-bottom: 2px solid var(--secondary-color);
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.75rem 1.5rem;
    gap: 2px;

    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-color);
}

.button.link-out {
    flex-direction: row;
    align-items: baseline; /* For vertical alignment with the other buttons */
    gap: 8px;
}

.active-bar {
    height: 4px;
    width: 110%;
    background-color: var(--main-color);

    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.active-bar.visible {
    opacity: 1;
}

.link-out-icon {
    height: 1rem;
    color: var(--secondary-color);
}
